# Ignore these directories
_aux/
logs/
node_modules/
tmp/

# Ignore these files
.env
.DS_Store
_private.js
_private.json
a_private.go
ecosystem.config.js
errors.log
hits.log


# databases
_data/GeoLite2-City.mmdb

# binaries
geoip
geoip-*








