# Ignore these directories
_aux/
logs/
tmp/
_data

# Ignore these files
.env
.DS_Store
_private.js
_private.json
a_private.go
error.log
hits.log


# binaries
geoip
geoip-*

# databases
_data/GeoLite2-City.mmdb